<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maternity">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreateBabySitterAccount2"></activity>
        <activity android:name=".CreateDoctorAccountActivity2" />
        <activity android:name=".OTPVerificationActivity" />
        <activity android:name=".CreateBabysitterAccountActivity" />
        <activity android:name=".CreateParentAccountActivity" />
        <activity android:name=".ParentHomeActivity" />
        <activity android:name=".ParentProfileActivity" />
        <activity android:name=".ParentLoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BabysitterHomeActivity" />
        <activity android:name=".BabysitterProfileActivity" />
        <activity android:name=".BabysitterLoginActivity" />
        <activity android:name=".DoctorHomeActivity" />
        <activity android:name=".DoctorProfileActivity" />
        <activity android:name=".CreateDoctorAccountActivity" />
        <activity android:name=".DoctorLoginActivity" />
        <activity android:name=".ContinueAsActivity" />
        <activity android:name=".SplashScreenActivity">

        </activity>
    </application>

</manifest>